<div class="flex items-center justify-center">
    
    <div class="bg-gray-200 dark:bg-slate-800 p-6 rounded-lg shadow-md w-1/2 mt-5">
        <h1>App Employees</h1>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgVo5ygI37BdT-brSqwRknaa78oxn5Plsh1w&usqp=CAU" 
    width="250px" height="350px" alt="img" align-items="center">
    <br />
<div>
    <input type="number" [(ngModel)]="textValue" itemid="searchTerm" placeholder="Search by ID" text="">
    <button type="button" (click)="search(textValue)" class="border-orange-900">Search</button>
</div>

<br />
<div class="relative overflow-x-auto">
    <table *ngIf="mostrarTabla" class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">ID</th>
                <th scope="col" class="px-6 py-3">Name</th>
                <th scope="col" class="px-6 py-3">Salary</th>
                <th scope="col" class="px-6 py-3">Age</th>
                <th scope="col" class="px-6 py-3">Annual Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <!-- <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" *ngFor="let post of posts.data"> -->
                <td class="px-6 py-4">{{ details.data.id }}</td>
                <td class="px-6 py-4">{{ details.data.employee_name }}</td>
                <td class="px-6 py-4">{{ details.data.employee_salary }}</td>
                <td class="px-6 py-4">{{ details.data.employee_age }}</td>
                <td class="px-6 py-4">{{ details.data.employee_annual_salary }}</td>
            </tr>
            
        </tbody>
    </table>
</div>
<br />
<div class="relative overflow-x-auto">
    <table *ngIf="mostrarTablaPosts" class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">ID</th>
                <th scope="col" class="px-6 py-3">Name</th>
                <th scope="col" class="px-6 py-3">Salary</th>
                <th scope="col" class="px-6 py-3">Age</th>
                <th scope="col" class="px-6 py-3">Annual Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" *ngFor="let post of posts.data">
                <td class="px-6 py-4">{{ post.id }}</td>
                <td class="px-6 py-4">{{ post.employee_name }}</td>
                <td class="px-6 py-4">{{ post.employee_salary }}</td>
                <td class="px-6 py-4">{{ post.employee_age }}</td>
                <td class="px-6 py-4">{{ post.employee_annual_salary }}</td>
            </tr>
            
        </tbody>
    </table>
</div>
<br />
<p>By: Jhon López ®</p>
</div>
</div>

